body {
  background-color: #FFF;
  font-family: sans-serif, nunito !important;
}

h1 {
  color: steelblue;
}

.table {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.table th {
  color: #FFF;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: #FFF !important;
}

.nav-link:hover{
  color: #000 !important;
}

.container-fluid {
  padding-top: 100px;
}

.card {
  border-radius: 15px;
}

h1 {
  padding: 10px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-header {
  padding: 0px;
}

.modal-img {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}

.not_continue {
	pointer-events: none;
	background: #C6C6C6;
  border-color: #C6C6C6;
}

.footer {
  color: white;
  background-image: url("https://opengameart.org/sites/default/files/city_background_night.png");
  background-repeat: round;
}

.footer a {
  color: wheat;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 60px 0px 60px 15px
}

.breadcrumb {
  background-color: #FFF;
}

.toast {
  position: fixed;
  top: 57px;
  right: 0;
  z-index: 1000;
}
